<!DOCTYPE html>
<html>
<head>
  <title>MIB-Магазин Интересных Книг</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<body class='<%= controller.controller_name %>'>

		<div id="banner"> 
		<%= image_tag("logo.png") %> 
		<%= @page_title || "Магазин Интересных Книг" %>
		</div> 
	<div id="columns">
		<div id="side">
			<div id="cart">
				<% if @cart %>
					<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
						<%= render @cart %>
					<% end %>
				<% end %>
			</div>
			 
			<ul>
				<li><a href="http://www....">Главная</a></li> 
				<li><a href="http://www..../faq">Вопросы</a></li> 
				<li><a href="http://www..../news">Новости</a></li> 
				<li><a href="http://www..../contact">Контакты</a></li>
			</ul> 
		</div>
		<div id="main"> 
			<%= yield %>
		</div> 
	</div>
</body> 
</html>